<app-header [title]="pageTitle"></app-header>

<div class="form">
  <h2>Adicione um novo dado de pagamento</h2>

  <form [formGroup]="formAddPayment">
    <section>
      <label for="name">Usuário</label>
      <input type="text" formControlName="name" id="name">

      <div class="errors">
        <div  *ngIf="formAddPayment.get('name')?.invalid && formAddPayment.get('name')?.touched">O nome é obrigatório</div>
      </div>
    </section>

    <section>
      <label for="title">Título</label>
      <input type="text" formControlName="title" id="title">

      <div class="errors">
        <div  *ngIf="formAddPayment.get('title')?.invalid && formAddPayment.get('title')?.touched">O título é obrigatório</div>
      </div>
    </section>

    <section>
      <label for="number">Valor</label>
      <input type="number" formControlName="value" id="value">

      <div class="errors">
        <div *ngIf="formAddPayment.get('value')?.invalid && formAddPayment.get('value')?.touched">
          O valor é obrigatório e deve ser maior ou igual a 0.
        </div>
      </div>
    </section>


    <section>
      <label for="date">Data</label>
      <input type="date" formControlName="date" id="date">

      <div class="errors">
        <div *ngIf="formAddPayment.get('date')?.invalid && formAddPayment.get('date')?.touched">
          A data é obrigatória.
        </div>
      </div>
    </section>

    <button (click)="addPaymentData()">Salvar</button>
  </form>
</div>
