<app-header></app-header>

<div class="container-paymentData ff-roboto-mono">
  <section class="actions">
   <input type="text" placeholder="Pesquisar">
    <button>Adicionar</button>
  </section>

  <section class="table">
    <table>
      <thead>
        <tr>
          <th>Usuário</th>
          <th>Título</th>
          <th>Data</th>
          <th>Valor</th>
          <th>Pago</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of payments | paginate: { itemsPerPage: paymentsPerPage, currentPage: currentPage}">
          <td>{{ payment.name }}</td>
          <td>{{ payment.title }}</td>
          <td>{{ payment.date | date:'dd/MM/yyyy' }}</td>
          <td>{{ payment.value |  currency:'BRL' }}</td>
          <td>
            <input type="checkbox" [checked]="payment.isPayed" disabled />
          </td>
          <td>
            <button class="btn-actions">editar</button>
            <button class="btn-actions">excluir</button>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="pagination">
    <pagination-controls class="pagination-table" (pageChange)="currentPage = $event" nextLabel="" previousLabel="" [maxSize]="3" [directionLinks]="false"></pagination-controls>
  </section>
</div>
